<ion-header class="ion-hide-md-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center-ctn" *ngIf="loading">
      <ion-spinner name="dots"></ion-spinner>
  </div>

  <div class="center-ctn" *ngIf="!loading && !plantNotFound">
    <div>
      <swiper-container class="ion-margin-horizontal" [grabCursor]="true" [slidesPerView]="1" [speed]="500"
        [pagination]="true">
        <swiper-slide>
          <ion-card class="ion-padding-bottom">
            <img [src]="plant.imgUrl" alt="{{ plant.name }}" />

            <ion-card-header>
              <ion-card-title>{{ plant.name }}</ion-card-title>
              <ion-card-subtitle>"Family: "</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              {{ plant.description }}
            </ion-card-content>
          </ion-card>
        </swiper-slide>

        <swiper-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-title>More Info</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              {{ plant.description }}
            </ion-card-content>
          </ion-card>
        </swiper-slide>

        <swiper-pagination type="bullets"></swiper-pagination>
      </swiper-container>
    </div>
  </div>

    <div class="center-ctn" *ngIf="plantNotFound">
      <ion-text class="ion-text-center ion-padding">
        <h1>OPPS!</h1>
        <h2>THE PLANT YOU'RE LOOKING FOR COULD NOT BE FOUND</h2>
      </ion-text>

      <ion-button class="ion-margin-top" shape="round" routerLink="/tabs/home">
        Back To Home
      </ion-button>
    </div>
</ion-content>
