<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bookmarks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center-ctn" *ngIf="loading">
    <ion-spinner name="circular"></ion-spinner>
  </div>

  <ion-list *ngIf="plants && !loading">
    <ion-item *ngFor="let plant of plants" (click)="plantClicked(plant)">
      <ion-avatar slot="start">
        <img [src]="plant.img_url" alt="{{ plant.name }} Image">
      </ion-avatar>
      <ion-label>{{ plant.name }}</ion-label>
    </ion-item>
  </ion-list>

  <div class="center-ctn logo-bg" *ngIf="!plants && !loading">
    <ion-text class="ion-text-center ion-padding">
      <h1>OPPS!</h1>
      <h2>NOT BOOKMARKS FOUNDED</h2>
    </ion-text>
  </div>
</ion-content>
