<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bookmarks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center-ctn" *ngIf="loading">
    <ion-spinner name="circular"></ion-spinner>
  </div>

  <ion-list *ngIf="plantBookmarks && !loading">
    <ion-item *ngFor="let plantBookmark of plantBookmarks" (click)="plantClicked(plantBookmark)">
      <ion-label>{{ plantBookmark.name }}</ion-label>
    </ion-item>
  </ion-list>

  <div class="center-ctn logo-bg" *ngIf="!plantBookmarks && !loading">
    <ion-text class="ion-text-center ion-padding">
      <h1>OPPS!</h1>
      <h2>NOT BOOKMARKS FOUNDED</h2>
    </ion-text>
  </div>
</ion-content>
