<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bookmarks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (loading) {

    <div class="center-ctn">
      <ion-spinner name="circular"></ion-spinner>
    </div>

  } @else if (plantBookmarks) {

    <ion-list>
      <ion-item *ngFor="let plantBookmark of plantBookmarks" (click)="plantClicked(plantBookmark)">
        <ion-label>{{ plantBookmark.name }}</ion-label>
      </ion-item>
    </ion-list>

  } @else {

    <div class="center-ctn logo-bg">
      <ion-text class="ion-text-center ion-padding">
        <h1>OPPS!</h1>
        <h2>NOT BOOKMARKS FOUNDED</h2>
      </ion-text>
    </div>

  }
</ion-content>
